primary-color = #3d76f7
light-primary-color = #2f88ff
success-color = #36b777
error-color = #F95455
warn-color = orange
shadow-color = #97abb93d
border-color = #e4e9ed
back-color = #f6f6f6
blue-back = #f3f8ff
placeholder-color = #e3e3e3
divider-color = #E4E8F0
tip-color = rgba(153,153,153,1)
primary-text-color = #333333
second-text-color = #666666
third-text-color = #999999
disabled-text-color = #c1c1c1

html {
  //全局主题颜色
  //#df6e5c
  --skin-font: #fff;
  --skin-font-active: #00BCD4;
  --skin: #30323e;
  --skin-success: #67C23A;
  --skin-warning: #E6A23C;
  --skin-danger: #F56C6C;
  --skin-info: #909399;

  //灰色
  --gray: #b5b1b1;
  --gray-dark: #e3e3e3;
  --gray-big-size: 15px;
  --gray-small-size: 10px;
}